.container {
	position: relative;
	min-height: calc(100vh - 104px);
}

.content {
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.form>* {
	display: block;
	text-align: center;
}

.link {
	color: #4C4CFF;
	text-decoration: none;
}