.list__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 568px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.list__item:last-of-type {
  margin-bottom: 0;
}

.item {
  cursor: grab;
}

.hover {
  box-shadow: inset 0 0 64px #4c4cff;
  transition: box-shadow 1.2s;
}

/* .dragged {
  opacity: 0.05;
  transition: opacity 1.2s;
} */
