/* .app {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
} */

.main {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

main > * {
	width: 50%;
}