.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 720px;
  margin: 0;
  padding: 40px;
  background: #1c1c21;
  border: none;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.title {
  margin-right: auto;
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.content>p {
  text-align: left;
}

.button--close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: auto;
  height: auto;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-image: none;
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
}