.container {
	position: relative;
	min-height: calc(100vh - 104px);
}

.content {
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}