.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 0 auto;
	padding-left: calc((100% - 1280px) / 2);
	padding-right: calc((100% - 1280px) / 2);
	background: #1C1C21;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.logo {
	font-size: 0;
	order: 2;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	order: 1;
	width: 100%;
	margin: 0 auto;
	margin-right: auto;
}

.nav > *:first-child {
	margin-left: 0px;
}

.nav > *:last-child {
	margin-right: 0px;
}

.nav--user {
	justify-content: flex-end;
	order: 3;
	margin-left: auto;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: none;
	border-radius: 40px;
	background-color: transparent;
	background-image: none;
	background: none;
	cursor: pointer;
}

.button span {
	line-height: 1;
	color: #F2F2F3;
}

.button--secondary span {
	color: #8585AD;
}